@import url(/Sass/cssreload.css);
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
$VeryDarkGrayishBlue: hsl(217, 19%, 35%);
$DesaturatedDarkBlue: hsl(214, 17%, 51%);
$GrayishBlue: hsl(212, 23%, 69%);
$LightGrayishBlue: hsl(210, 46%, 95%);
$font: 'Manrope';


body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $LightGrayishBlue;
    font-family: $font;
    font-size: 0.7em;

    .container{
        width: 327px;
        height: 530px;
        background-color: white;
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        border-radius: 10px;
        box-shadow: 1px 1px 20px  1px $GrayishBlue;
        .section_1{
            .img{ background-image: url(/images/drawers.jpg);
            background-size: cover;
            width: 327px;
            height:200px;
            border-radius: 10px 10px 0 0;
            }}

            .section_2{
                display: flex;
                flex-direction: column;
                justify-content:center;
                align-items: center;
                padding: 25px;
                padding-bottom: 2px;
                h1{
                    margin: 15px 0;
                    color: $VeryDarkGrayishBlue;
                    font-weight: 700;
                }
                .text{
                    margin: 2px 0;
                    line-height: 1.5;
                    font-size: 1.2em;
                    font-weight: 700;
                    margin-right: 15px;
                    color: $DesaturatedDarkBlue;
                }

                .user-1{
                    margin-top: 40px;
                    display: flex;
                    align-items: start;
                    height: 60px;
                    
                    width: 100%;
                    .avatar{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        margin-right: 15px;

                    }

                    .name{
                        
                        .name_michelle{
                            font-size: 1.1em;
                            color: $VeryDarkGrayishBlue;
                            font-weight: 700;
                        
                        }
                        .date{
                            color: $DesaturatedDarkBlue;
                            font-size: 1em;
                            margin-top: 2px;
                        }
                    }

                    .share{
                        margin-top: 2px;
                        margin-left: 60px;
                        width: 35px;
                        height: 35px;
                        padding: 10px;
                        border-radius: 50%;
                        background-color: $LightGrayishBlue;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .share_icon{
                        width: 19px;
                        height: 15px;
                            
                    

                        }
                    }

                }
                .user-2{
                    background-color: $VeryDarkGrayishBlue;
                    width:327px ;
                    position: absolute  ;
                    top: 73%;
                    border-radius:0 0 10px 10px ;
                    padding: 0;
                    margin-top: 24px;
                    margin-bottom:-8px;
                    height: 70px;
                    display: none  ;
                    align-items: center;
                    justify-content: space-evenly;

                    
                    .icons{
                        p{
                            letter-spacing: 4px;
                            font-size: 1.2em;
                            font-weight: 500;
                            color: $GrayishBlue;
                            
                        }

                        margin-right: 80px;
                        gap: 15px;
                        display: flex;

                    }
                    .share2{
                        margin-left: -90px;
                        width: 30px;
                        height: 30px;
                        
                        border-radius: 50%;
                        background-color: $DesaturatedDarkBlue;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .share_icon{
                        width: 17px;
                        height: 12px;
                    
                            
                    

                        }
                }
            }

        }

      
    }
   
    footer{
        margin-top :60px;
        
        .attribution { 
            font-size: 11px; 
            text-align: center; 
    
            a { color: hsl(228, 45%, 44%);} }
    
    }}
.display{
    display: flex;
}
    @media screen and (min-width:760px) {

        body{
        .container{

            width: 740px;
            height: 275px;
            flex-direction: row;

            .section_1{
                .img{
                    width: 285px;
                    height: 275px;
                    border-radius: 10px 0 0 10px;
                }
            }
            .section_2{

                justify-content: flex-start;
                
                h1{
                
                    font-size: 1.7em;
                    margin: 15px 50px 10px 0;
                    
                }
                .text{
                    font-size: 1.2em;
                    
                }

                .user-1{
                    margin-top: 16px;
                    .share{
                        margin-left: 170px;
                    }
                }

                .user-2{
                    display: none;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;
                    position: relative;
                    top: -115px;
                    left: 160px;
                    padding: 10px;
                    height: 100px;
                    width: 250px;
                    .icons{
                        margin-right: 0;
                    }
                    .share2{
                        display: none;
                        .share_icon{
                            display: none;
                        }}
            }
            .user-2::after{
                content: '';
                border: 10px solid;
                border-color: $VeryDarkGrayishBlue transparent transparent;
                position:absolute;
                top: 100%;
                left: 100px;
            }

        }

        
    }}
    }